/**
 * @section Base Styles
 */




.logo-wrapper{
	display:flex;
	justify-content: center;
	align-items: center;
	width:100vw;
	height:100vh;
	position:relative;

	
}

svg{
	width:100%;
	height:100%;
	position: absolute;
}


#name{
	stroke:black;
	fill: black;
	opacity: 1;
}

.circle,
.snakes{
	fill:black;
	visibility: hidden;
}

.eyes{
	fill: DodgerBlue;
}


#eye-l{
	fill:black;
	stroke:1;
	stroke:black;
	//transform: translateX(-30px);
}

#pencil-form{
	visibility: hidden;
}