/**
 * @section Base Styles
 */




.logo-wrapper{
	display:flex;
	justify-content: center;
	align-items: center;
	width:100vw;
	height:100vh;

	
}

svg{
	width:100%;
	height:100%;
}


#name{
	stroke:black;
	fill: black;
	opacity: 1;
}

.circle,
.snakes{
	fill:black;
}

.eyes{
	fill: DodgerBlue;
}

.pencils{
visibility: hidden;
}

#eye-l{
	fill:red;
	//transform: translateX(-30px);
}